extends ../layout

block head-content
  link(rel="stylesheet" href="/css/tweets.css")
  script(src="/js/tweets.js")

  meta(name="page-id", content="tweets")

block layout-content
  h1.mt-5.text-white.text-center Tweets

  div.row.no-gutters
    if items.length > 0
      div.col
        h6.text-white !{total} Tweets, page !{page}
    div.col-auto
      button.btn.btn-sm.text-white(onclick='refreshPage();')
        i.fas.fa-sync.fa-2x
    div.col-auto
      a.btn.btn-sm.text-white.float-right(href='/tweets/new')
        i.fas.fa-plus.fa-2x

  each item in items
    div.row
      div.card.w-100.p-3
        div.card-text
          div.row.no-gutters
            div.col !{item.description}
            div.col-auto
              span.position-absolute(style='top:0; right:30px;')
                form(action=`/tweets/${item.id}/edit`, method="post")
                  input(type="hidden", name="id", value=`${item.id}`)
                  button.btn.btn-link.btn-md.p-0(type="submit") 
                    i.fas.fa-pen.text-primary.m-2.pt-1
              span.position-absolute(style='top:0; right:5px;')
                form(action=`/tweets/${item.id}/delete`, method="post", data-id=`tweetDelete-${item.id}`)
                  input(type="hidden", name="id", value=`${item.id}`)
                i.fas.fa-trash.text-danger.m-2.pt-1(style='cursor: pointer;', data-behavior='display-confirm', data-target=`tweetDelete-${item.id}`, data-text='Are you sure you want to delete this tweet?')
          div.row.no-gutters
            div.col.text-right
              small.text-muted #{item.date}
  br
  include ../pagination.pug