extends ../layout

block head-content
  link(rel="stylesheet" href="/css/posts.css")
  script(src="/js/posts.js")

  meta(name="page-id", content="posts")

block layout-content
  h1.mt-5.text-white.text-center Posts

  div.row.no-gutters
    div.col
      a.btn.btn-sm.text-white.float-right(href='/posts/new')
        i.fas.fa-plus.fa-2x
  if items.length > 0
    h6.text-white !{total} Posts published, page !{page}

    div.row.row-cols-1.row-cols-md-3
      each item in items
        div.col.mb-4
          div.card.h-100
            a(href=`${item.link}`, target='_blank')
              img.card-img-top(src=`${item.image}`, alt=`${item.title}`, style='max-height: 200px; object-fit: cover;')
            div.card-header
              a(href=`${item.link}`, target='_blank')
                h5.card-title !{item.title}
              h6.card-subtitle.text-muted !{item.author}
            div.card-body
              p !{item.excerpt}
            div.card-footer.pb-5
              span 
                strong status: 
                | !{item.status} 
                strong.px-1 comments: 
                | !{item.comment_status}
              span.position-absolute(style='bottom:15px; right:5px;')
                small.text-muted Created #{item.created} Tokyo time
              span.position-absolute(style='bottom:0; right:5px;')
                small.text-muted Updated #{item.updated} Tokyo time
    br
    include ../pagination.pug