extends ../layout

block head-content
  link(rel="stylesheet" href="/css/podcasts.css")
  script(src="/js/podcasts.js")

  meta(name="page-id", content="podcasts")

block layout-content
  h1.mt-5.text-white.text-center Podcasts

  div.modal.fade(tabindex="-1", id="newsletter-html", aria-labelledby="exampleModalLabel", aria-hidden="true")
    div.modal-dialog.modal-xl
      div.modal-content
        div.modal-header
          h5.modal-title(id="exampleModalLabel") Newsletter latest podcasts
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        div.modal-body.newsletter-html
          each item in newsletter
              div.row(style="font-family:verdana,geneva")
                div.col-auto
                  div.card-image
                    a(href=`${item.postLink}`)
                      img(width="200", height="200", src="https://www.ajourneyforwisdom.com/wp-content/uploads/2021/04/DTMG-profile.jpeg", alt="podcast logo", title="Don't Tell My Grandma Podcast")
                div.col-md-7
                  a(style="text-decoration:none", href=`${item.postLink}`)
                    p(style="color:black;font-size: 25px") !{item.title}
                    p(style="color:gray;font-size: 16px;text-align: justify") !{item.desc}
                  div.footer Listen on 
                    a.btn.btn-just-icon.btn-simple(style="text-decoration:none", href="https://open.spotify.com/show/6lE2wuNeVtx3CtZe9uZ2TW?si=re4zDrxXQKi2C1aAAyxtxg", target="_blank", rel="noopener", aria-label="spotify") Spotify
                    a.btn.btn-just-icon.btn-simple(style="text-decoration:none", href="https://podcasts.apple.com/jp/podcast/dont-tell-my-grandma/id1510359100", target="_blank", rel="noopener", aria-label="itunes") iTunes
              br
        div.modal-footer
          button.btn.btn-primary(type="button", onclick="copyhtml();") Copy
          button.btn.btn-secondary(type="button", data-dismiss="modal") Close

  div.row.no-gutters
    if items.length > 0
      div.col
        h6.text-white !{total} Podcasts published, page !{page}
    div.col-auto
      button.btn.btn-sm.text-white(data-toggle='modal' data-target='#newsletter-html')
        i.far.fa-file-alt.fa-2x
    div.col-auto
      button.btn.btn-sm.text-white(onclick='refreshPage();')
        i.fas.fa-sync.fa-2x
    div.col-auto
      a.btn.btn-sm.text-white.float-right(href='/podcasts/new')
        i.fas.fa-plus.fa-2x

  each item in items
    div.row.no-gutters
      div.col
        div.card
          div.card-header
            h5.card-title !{item.title}
            h6.card-subtitle.text-muted !{item.keywords}
            if item.explicit
              span.badge.badge-pill.badge-danger.position-absolute(style='top:10px; right:50px;') explicit
            else
              span.badge.badge-pill.badge-primary.position-absolute(style='top:10px; right:50px;') clean
            span.position-absolute(style='top:0; right:5px;')
                form(action=`/podcasts/${item.id}/edit`, method="post")
                  input(type="hidden", name="id", value=`${item.id}`)
                  button.btn.btn-link.btn-md.p-0(type="submit") 
                    i.fas.fa-pen.text-primary.m-2.pt-1
          div.card-body
            p !{item.description}
          div.card-footer
            span 
              strong season: 
              | !{item.season} 
              strong.px-1 episode: 
              | !{item.episode}
              strong.px-1 duration:
              | !{item.duration}
            span.position-absolute(style='bottom:0; right:5px;')
              small.text-muted #{item.pubDate} Tokyo time
  br
  include ../pagination.pug
