extends ../layout

block head-content
  link(rel="stylesheet" href="/css/podcasts.css")
  script(src="/js/podcasts.js")

  meta(name="page-id", content="podcasts")

block layout-content
  h1.mt-5.text-white.text-center Podcasts

  -var template = "<table cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">"
  -template += "  <tbody>"
  
  each item in newsletter
    -template += "    <tr>"
    -template += "      <td style=\"padding-right:10px;padding-bottom:20px\" width=\"50%\" valign=\"top\">"
    -template += "        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\">"
    -template += "          <tbody>"
    -template += "            <tr>"
    -template += "              <td align=\"center\" style=\"font-family:Verdana,Geneva,sans-serif;font-size:25px;font-weight:bold;color:#333333;line-height:1.3em;padding:15px 0 0 0\">"
    -template += `                <a href=\"${item.url}\" rel=\"noopener nofollow\" style=\"display:inline-block;font-size:18px;text-decoration:none;line-height:normal!important\" target=\"_blank\">`
    -template += `                  <img src=\"${item.img}\">`
    -template += `                  ${item.title}`
    -template += "                </a>"
    -template += "              </td>"
    -template += "            </tr>"
    -template += "            <tr>"
    -template += `              <td align=\"center\" style=\"font-family:Verdana,Geneva,sans-serif;font-size:16px;font-weight:normal;color:#929292;line-height:1.4em;padding:5px 0 0 0\">${item.desc}</td>`
    -template += "            </tr>"
    -template += "          </tbody>"
    -template += "        </table>"
    -template += "      </td>"
    -template += "    </tr>"
  
  -template += "  </tbody>"
  -template += "</table>"

  div.modal.fade(tabindex="-1", id="newsletter-html", aria-labelledby="exampleModalLabel", aria-hidden="true")
    div.modal-dialog.modal-xl
      div.modal-content
        div.modal-header
          h5.modal-title(id="exampleModalLabel") Newsletter latest podcasts
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        div.modal-body.newsletter-html
          textarea.w-100(name="newsletter-info", cols="100", rows="20")=template
        div.modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Close

  div.row.no-gutters
    if items.length > 0
      div.col
        h6.text-white !{total} Podcasts published, page !{page}
    div.col-auto
      button.btn.btn-sm.text-white(data-toggle='modal' data-target='#newsletter-html')
        i.far.fa-file-alt.fa-2x
    div.col-auto
      button.btn.btn-sm.text-white(onclick='refreshPage();')
        i.fas.fa-sync.fa-2x
    div.col-auto
      a.btn.btn-sm.text-white.float-right(href='/podcasts/new')
        i.fas.fa-plus.fa-2x

  each item in items
    div.row.no-gutters
      div.col
        div.card
          
          - var cardtype = ''
          if item.type.toLowerCase() != 'full'
            - cardtype = 'bg-warning'

          div(class=`card-header ${cardtype}`)
            h5.card-title !{item.title}
            if item.type.toLowerCase() == 'full'
              h6.card-subtitle.text-muted !{item.keywords}
              if item.explicit
                span.badge.badge-pill.badge-danger.position-absolute(style='top:10px; right:50px;') explicit
              else
                span.badge.badge-pill.badge-primary.position-absolute(style='top:10px; right:50px;') clean
            span.position-absolute(style='top:0; right:5px;')
                form(action=`/podcasts/${item.id}/edit`, method="post")
                  input(type="hidden", name="id", value=`${item.id}`)
                  button.btn.btn-link.btn-md.p-0(type="submit") 
                    i.fas.fa-pen.text-primary.m-2.pt-1
          div.card-body
            p !{item.description}
          div.card-footer
            span 
              strong season: 
              | !{item.season} 
              if item.type.toLowerCase() == 'full'
                strong.px-1 episode: 
                | !{item.episode}
                strong.px-1 duration:
                | !{new Date(item.duration * 1000).toISOString().substr(11, 8)}
            span.position-absolute(style='bottom:0; right:5px;')
              small.text-muted #{item.pubDate} Tokyo time
  br
  include ../pagination.pug
