extends ../layout

block head-content
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css", integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g==", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js", integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==", crossorigin="anonymous")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js", integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==", crossorigin="anonymous")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/trumbowyg.min.js", integrity="sha512-sffB9/tXFFTwradcJHhojkhmrCj0hWeaz8M05Aaap5/vlYBfLx5Y7woKi6y0NrqVNgben6OIANTGGlojPTQGEw==", crossorigin="anonymous")
  link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/ui/trumbowyg.min.css", integrity="sha512-iw/TO6rC/bRmSOiXlanoUCVdNrnJBCOufp2s3vhTPyP1Z0CtTSBNbEd5wIo8VJanpONGJSyPOZ5ZRjZ/ojmc7g==", crossorigin="anonymous")

  link(rel="stylesheet" href="/css/podcasts.css")
  script(src="/js/podcasts.js")

  link(rel="stylesheet" href="/css/validation.css")
  script(src="/js/validation.js")

  meta(name="page-id", content="newPodcast")

block layout-content
  h1.mt-5.text-white.text-center Create a podcast episode
  br

  -var template = "<p>Hi listeners!&nbsp;</p>"
  -template += "<br>"
  -template += "[--WRITE HERE--]"
  -template += "<br>"
  -template += "<br>"
  -template += "<br>"
  -template += "<p>Email us your questions and suggestions to <a href=\"mailto:podcast@donttellmygrandma.com\">podcast@donttellmygrandma.com</a>&nbsp;</p>"
  -template += "<br>"
  -template += "<ul>"
  -template += "  <li>Website:&nbsp;<a href=\"https://www.ajourneyforwisdom.com\">www.ajourneyforwisdom.com</a>&nbsp;</li>"
  -template += "  <li>Twitter:&nbsp;<a href=\"https://twitter.com/ajourney4wisdom\">twitter.com/ajourney4wisdom</a>&nbsp;</li>"
  -template += "  <li>Instagram:&nbsp;<a href=\"https://www.instagram.com/ajourneyforwisdom\">instagram.com/ajourneyforwisdom</a>&nbsp;</li>"
  -template += "  <li>YouTube:&nbsp;<a href=\"https://www.youtube.com/channel/UC0xIBmkqFrnmOXbsX6BeMjg\">Don\'t Tell my Grandma</a>&nbsp;</li>"
  -template += "  <li>Pinterest: <a href=\"https://pinterest.com/ajourneyforwisdom\">pinterest.com/ajourneyforwisdom</a></li>"
  -template += "</ul>"
  -template += "<br>"
  -template += "<p>Please consider supporting us on Patreon at <a href=\"https://patreon.com/donttellmygrandma\">patreon.com/donttellmygrandma</a>&nbsp;</p>"
  -template += "<br>"
  -template += "<p>Sound effects from <a href=\"https://www.zapsplat.com\">zapsplat.com</a></p>"

  div.row
    div.col-xl-6.offset-xl-3.col-lg-8.offset-lg-2.col-10.offset-1
      div.card.p-3
        div.card-text
          form(action="/podcasts/create", method="post", enctype="multipart/form-data")
            div.form-group
                label(for='title') Title
                input.form-control(type="text", name="title", placeholder="Enter an episode title", required=true)
            div.form-group
                label(for='description') Description
                textarea.form-control(name="description", placeholder="Enter the episode description", required=true)=template
            div.form-group
                label(for='keywords') Keywords
                input.form-control(type="text", name="keywords", placeholder="Enter some keywords separated by comma", required=true)
                small.form-text.text-muted Example: Mental health, Habits, Success.
            div.form-group
                div.row
                    div.col-lg-6
                        label(for='season') Season
                        -var selected = false;
                        select.form-control(name='season')
                            each op in [...Array(10).keys()].map(x => ++x)
                                -if (season == op) {
                                  -selected=true;
                                -} else {
                                  -selected=false;
                                -}
                                option(value=op selected=selected) #{op}
                    div.col-lg-6
                        label(for='episode') Episode
                        -var selected = false;
                        select.form-control(name='episode')
                            each op in [...Array(100).keys()].map(x => ++x)
                                -if (episode == op) {
                                  -selected=true;
                                -} else {
                                  -selected=false;
                                -}
                                option(value=op selected=selected) #{op}
            div.form-group
                label(for='pubDate') Publication date
                div.input-group.date(data-behavior='datetime-picker', data-target-input="nearest", id='datetimepicker')
                    input.form-control(type="text", name="pubDate", data-target='#datetimepicker', data-toggle='datetimepicker', readonly=true)
                    div.input-group-append(data-target='#datetimepicker', data-toggle='datetimepicker')
                        span.input-group-text
                            i.fas.fa-calendar-alt
            div.form-check
                input.form-check-input(type="checkbox", name="explicit")
                label.form-check-label(for='explicit') Is explicit?
            div.form-group
                label.sr-only(for='file') Podcast file
                input.form-control-file.text-primary.font-weight-bold(type="file", name="file", data-title="Drop episode here", data-behavior='file-upload', required=true)
                input(type="hidden", name="length")
                input(type="hidden", name="duration")
            br
            center
              input.btn.btn-md.btn-primary.px-4(type="submit", value="Publish")
