extends ../layout

block head-content
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css", integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g==", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js", integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==", crossorigin="anonymous")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js", integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==", crossorigin="anonymous")

  link(rel="stylesheet" href="/css/podcasts.css")
  script(src="/js/podcasts.js")

  link(rel="stylesheet" href="/css/validation.css")
  script(src="/js/validation.js")

  meta(name="page-id", content="newPodcast")

block layout-content
  h1.mt-5.text-white.text-center Create a podcast episode
  br

  div.row
    div.col-xl-6.offset-xl-3.col-lg-8.offset-lg-2.col-10.offset-1
      div.card.p-3
        div.card-text
          form(action="/podcasts/create", method="post", enctype="multipart/form-data")
            div.form-group
                label(for='title') Title
                input.form-control(type="text", name="title", placeholder="Enter an episode title", required=true)
            div.form-group
                label(for='description') Description
                textarea.form-control(name="description", placeholder="Enter the episode description", required=true)
            div.form-group
                label(for='keywords') Keywords
                input.form-control(type="text", name="keywords", placeholder="Enter some keywords separated by comma", required=true)
                small.form-text.text-muted Example: Mental health, Habits, Success.
            div.form-group
                div.row
                    div.col-lg-6
                        label(for='season') Season
                        select.form-control(name='season')
                            option(value="1") 1
                            option(value="2", selected=true) 2
                            option(value="3") 3
                            option(value="4") 4
                            option(value="5") 5
                            option(value="6") 6
                    div.col-lg-6
                        label(for='episode') Episode
                        select.form-control(name='episode')
                            option(value="1", selected=true) 1
                            option(value="2") 2
                            option(value="3") 3
                            option(value="4") 4
                            option(value="5") 5
                            option(value="6") 6
                            option(value="7") 7
                            option(value="8") 8
                            option(value="9") 9
                            option(value="10") 10
                            option(value="11") 11
                            option(value="12") 12
                            option(value="13") 13
                            option(value="14") 14
                            option(value="15") 15
                            option(value="16") 16
                            option(value="17") 17
                            option(value="18") 18
                            option(value="19") 19
                            option(value="20") 20
                            option(value="21") 21
                            option(value="22") 22
                            option(value="23") 23
                            option(value="24") 24
                            option(value="25") 25
                            option(value="26") 26
                            option(value="27") 27
                            option(value="28") 28
                            option(value="29") 29
                            option(value="30") 30
                            option(value="31") 31
                            option(value="32") 32
                            option(value="33") 33
                            option(value="34") 34
                            option(value="35") 35
                            option(value="36") 36
                            option(value="37") 37
                            option(value="38") 38
                            option(value="39") 39
                            option(value="40") 40
                            option(value="41") 41
                            option(value="42") 42
                            option(value="43") 43
                            option(value="44") 44
                            option(value="45") 45
                            option(value="46") 46
                            option(value="47") 47
                            option(value="48") 48
                            option(value="49") 49
                            option(value="50") 50
                            option(value="51") 51
            div.form-group
                label(for='pubDate') Publication date
                div.input-group.date(data-behavior='datetime-picker', data-target-input="nearest", id='datetimepicker')
                    input.form-control(type="text", name="pubDate", data-target='#datetimepicker', data-toggle='datetimepicker', readonly=true)
                    div.input-group-append(data-target='#datetimepicker', data-toggle='datetimepicker')
                        span.input-group-text
                            i.fas.fa-calendar-alt
            div.form-check
                input.form-check-input(type="checkbox", name="explicit")
                label.form-check-label(for='explicit') Is explicit?
            div.form-group
                label.sr-only(for='file') Podcast file
                input.form-control-file.text-primary.font-weight-bold(type="file", name="file", data-title="Drop episode here", data-behavior='file-upload', required=true)
                input(type="hidden", name="length")
                input(type="hidden", name="duration")
            br
            center
              input.btn.btn-md.btn-primary.px-4(type="submit", value="Publish")
