extends ../layout

block head-content
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js", integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==", crossorigin="anonymous", referrerpolicy="no-referrer")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css", integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==", crossorigin="anonymous", referrerpolicy="no-referrer")
  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js", integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==", crossorigin="anonymous", referrerpolicy="no-referrer")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/trumbowyg.min.js", integrity="sha512-YJgZG+6o3xSc0k5wv774GS+W1gx0vuSI/kr0E0UylL/Qg/noNspPtYwHPN9q6n59CTR/uhgXfjDXLTRI+uIryg==", crossorigin="anonymous", referrerpolicy="no-referrer")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/ui/trumbowyg.min.css", integrity="sha512-Fm8kRNVGCBZn0sPmwJbVXlqfJmPC13zRsMElZenX6v721g/H7OukJd8XzDEBRQ2FSATK8xNF9UYvzsCtUpfeJg==", crossorigin="anonymous", referrerpolicy="no-referrer")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.17.7/tagify.min.js", integrity="sha512-BO4lu2XUJSxHo+BD3WLBQ9QoYgmtSv/X/4XFsseeCAxK+eILeyEXtGLHFs2UMfzNN9lhtoGy8v8EMFPIl8y+0w==", crossorigin="anonymous", referrerpolicy="no-referrer")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.17.7/tagify.polyfills.min.js", integrity="sha512-ji661ZnhI4tQAMCXMmeV0IfgCWnyJhxWkkkSufyoMx4dkzmPCG8BUaot1u+RHDtOLyary61C8WF+D43pcEPWww==", crossorigin="anonymous", referrerpolicy="no-referrer")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.17.7/tagify.min.css", integrity="sha512-Ft73YZFLhxI8baaoTdSPN8jKRPhYu441A8pqlqf/CvGkUOaLCLm59ZWMdls8lMBPjs1OZ31Vt3cmZsdBa3EnMw==", crossorigin="anonymous", referrerpolicy="no-referrer")

  link(rel="stylesheet" href="/css/podcasts.css")
  script(src="/js/podcasts.js")

  link(rel="stylesheet" href="/css/validation.css")
  script(src="/js/validation.js")

  meta(name="page-id", content="newPodcast")

block layout-content
  h1.mt-5.text-white.text-center Create a podcast episode
  br

  -var desc_template = ""

  -var info_template = "<br><p>Email us your questions and suggestions to <a href=\"mailto:donttellmygrandmapodcast@gmail.com\">donttellmygrandmapodcast@gmail.com</a>&nbsp;</p>"
  -info_template += "<br>"
  -info_template += "-&nbsp;Website:&nbsp;<a href=\"https://www.ajourneyforwisdom.com\">www.ajourneyforwisdom.com</a>&nbsp;<br>"
  -info_template += "-&nbsp;YouTube:&nbsp;<a href=\"https://www.youtube.com/@donttellmygrandmapodcast\">Don\'t Tell my Grandma</a>&nbsp;<br>"
  -info_template += "<br>"
  -info_template += "<p>Please consider supporting us on Patreon at <a href=\"https://patreon.com/donttellmygrandma\">patreon.com/donttellmygrandma</a>&nbsp;</p>"
  -info_template += "<br>"
  -info_template += "<p>Sound effects from <a href=\"https://www.zapsplat.com\">zapsplat.com</a></p>"

  div.row
    div.col-xl-6.offset-xl-3.col-lg-8.offset-lg-2.col-10.offset-1
      div.card.p-3
        div.card-text
          form(action="/podcasts/create", method="post")
            div.form-group
              h2 Publishing !{recording}
              input(type="hidden", name="location", value=location.replace(/ /ig, '+'))
              input(type="hidden", name="length", value=length)
              input(type="hidden", name="duration", value=duration)
            div.form-group
              label(for='title') Title:
              input.form-control(type="text", name="title", placeholder="Enter an episode title", required=true, data-behavior='post-title')
              small.form-text.text-muted Avoid using (&amp;), (&lt;), (&gt;), (&quot;), and (&apos;)
            div.form-group
              label(for='posturl') Post URL:
              div.row.no-gutters
                div.col-auto(style="font-size:small; padding-top:8px;") https://www.ajourneyforwisdom.com/podcast/
                div.col
                  input.form-control(type="text", name="posturl", placeholder="", required=true, style="font-size:small; padding: 0; border: 0; color: blue;", data-behavior='post-url')
                small.form-text.text-muted Updated with title (Click to modify manually if necessary).
            div.form-group
              label(for='description') Description:
              textarea.form-control(name="description", placeholder="Enter the episode description", required=true)=desc_template
              small.form-text.text-muted Remove all &amp; in URL&apos;s
            div.form-group
              label(for='info') Social links and podcast info:
              span.btn.btn-sm.btn-primary.float-right(data-toggle="collapse", data-target="#collapseInfo", aria-expanded="false", aria-controls="collapseInfo") show
              div.collapse(id="collapseInfo")
                textarea.form-control(name="info", placeholder="Socials and stuff", required=true)=info_template
              small.form-text.text-muted Already set. Click show to modify.
            div.form-group
              label(for='keywords') Keywords:
              input.form-control.no-height-limit(type="text", name="keywords", placeholder="", required=true, data-behavior='keywords')
              small.form-text.text-muted Example: Mental health, Habits, Success. Avoid using (&amp;), (&lt;), (&gt;), (&quot;), and (&apos;)
            div.form-group.row.no-gutters
              div.col-auto
                label(for='season', style='margin-bottom: 0;padding-top: 5px;') Season:
              div.col-auto.px-2
                -var selected = false;
                select.form-control(name='season')
                  each op in [...Array(10).keys()].map(x => ++x)
                    -if (season == op) {
                      -selected=true;
                    -} else {
                      -selected=false;
                    -}
                    option(value=op selected=selected) #{op}
              div.col-auto
                label(for='episode', style='margin-bottom: 0;padding-top: 5px;') Episode:
              div.col-auto.px-2
                -var selected = false;
                select.form-control(name='episode')
                  each op in [...Array(100).keys()].map(x => ++x)
                    -if (episode == op) {
                      -selected=true;
                    -} else {
                      -selected=false;
                    -}
                    option(value=op selected=selected) #{op}
            div.form-group.row.no-gutters
              div.col-auto
                label(for='pubDate', style='margin-bottom: 0;padding-top: 7px;') Releasing on:
              div.col-auto
                div.input-group.date(data-behavior='datetime-picker', data-target-input="nearest", id='datetimepicker')
                  input.form-control.pubdate(type="text", name="pubDate", data-target='#datetimepicker', data-toggle='datetimepicker', readonly=true)
            div.form-check
              div.row
                div.col-lg-6
                  input.form-check-input(type="checkbox", name="explicit")
                  label.form-check-label(for='explicit') Is it explicit?
                div.col-lg-6
                  input.form-check-input(type="checkbox", name="post", checked=true)
                  label.form-check-label(for='post') Make a post?
            div.form-group
              center
                input.btn.btn-md.btn-primary.mt-3(type="submit", value="Publish")
