extends ../layout

block head-content
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css", integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g==", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js", integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==", crossorigin="anonymous")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js", integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==", crossorigin="anonymous")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/trumbowyg.min.js", integrity="sha512-sffB9/tXFFTwradcJHhojkhmrCj0hWeaz8M05Aaap5/vlYBfLx5Y7woKi6y0NrqVNgben6OIANTGGlojPTQGEw==", crossorigin="anonymous")
  link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/ui/trumbowyg.min.css", integrity="sha512-iw/TO6rC/bRmSOiXlanoUCVdNrnJBCOufp2s3vhTPyP1Z0CtTSBNbEd5wIo8VJanpONGJSyPOZ5ZRjZ/ojmc7g==", crossorigin="anonymous")

  script(src="https://unpkg.com/@yaireo/tagify")
  script(src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js")
  link(href="https://unpkg.com/@yaireo/tagify/dist/tagify.css", rel="stylesheet", type="text/css")

  link(rel="stylesheet" href="/css/podcasts.css")
  script(src="/js/podcasts.js")

  link(rel="stylesheet" href="/css/validation.css")
  script(src="/js/validation.js")

  meta(name="page-id", content="newPodcast")

block layout-content
  h1.mt-5.text-white.text-center Create a podcast episode
  br

  -var desc_template = "<p>Hi listeners!&nbsp;</p>"
  -desc_template += "<br>"

  -var info_template = "<br><p>Email us your questions and suggestions to <a href=\"mailto:podcast@donttellmygrandma.com\">podcast@donttellmygrandma.com</a>&nbsp;</p>"
  -info_template += "<br>"
  -info_template += "-&nbsp;Website:&nbsp;<a href=\"https://www.ajourneyforwisdom.com\">www.ajourneyforwisdom.com</a>&nbsp;<br>"
  -info_template += "-&nbsp;Twitter:&nbsp;<a href=\"https://twitter.com/ajourney4wisdom\">twitter.com/ajourney4wisdom</a>&nbsp;<br>"
  -info_template += "-&nbsp;Instagram:&nbsp;<a href=\"https://www.instagram.com/ajourneyforwisdom\">instagram.com/ajourneyforwisdom</a>&nbsp;<br>"
  -info_template += "-&nbsp;YouTube:&nbsp;<a href=\"https://www.youtube.com/channel/UC0xIBmkqFrnmOXbsX6BeMjg\">Don\'t Tell my Grandma</a>&nbsp;<br>"
  -info_template += "-&nbsp;Pinterest:&nbsp;<a href=\"https://pinterest.com/ajourneyforwisdom\">pinterest.com/ajourneyforwisdom</a>&nbsp;<br>"
  -info_template += "<br>"
  -info_template += "<p>Please consider supporting us on Patreon at <a href=\"https://patreon.com/donttellmygrandma\">patreon.com/donttellmygrandma</a>&nbsp;</p>"
  -info_template += "<br>"
  -info_template += "<p>Sound effects from <a href=\"https://www.zapsplat.com\">zapsplat.com</a></p>"

  div.row
    div.col-xl-6.offset-xl-3.col-lg-8.offset-lg-2.col-10.offset-1
      div.card.p-3
        div.card-text
          form(action="/podcasts/create", method="post")
            div.form-group
              h2 Publishing !{recording}
              input(type="hidden", name="location", value=location.replace(/ /ig, '+'))
              input(type="hidden", name="length", value=length)
              input(type="hidden", name="duration", value=duration)
            div.form-group
              label(for='title') Title:
              input.form-control(type="text", name="title", placeholder="Enter an episode title", required=true, data-behavior='post-title')
              small.form-text.text-muted Avoid using (&amp;), (&lt;), (&gt;), (&quot;), and (&apos;)
            div.form-group
              label(for='posturl') Post URL:
              div.row.no-gutters
                div.col-auto(style="font-size:small; padding-top:8px;") https://www.ajourneyforwisdom.com/podcast/
                div.col
                  input.form-control(type="text", name="posturl", placeholder="", required=true, style="font-size:small; padding: 0; border: 0; color: blue;", data-behavior='post-url')
                small.form-text.text-muted Updated with title (Click to modify manually if necessary).
            div.form-group
              label(for='description') Description:
              textarea.form-control(name="description", placeholder="Enter the episode description", required=true)=desc_template
              small.form-text.text-muted Remove all &amp; in URL&apos;s
            div.form-group
              label(for='info') Social links and podcast info:
              span.btn.btn-sm.btn-primary.float-right(data-toggle="collapse", data-target="#collapseInfo", aria-expanded="false", aria-controls="collapseInfo") show
              div.collapse(id="collapseInfo")
                textarea.form-control(name="info", placeholder="Socials and stuff", required=true)=info_template
              small.form-text.text-muted Already set. Click show to modify.
            div.form-group
              label(for='keywords') Keywords:
              input.form-control(type="text", name="keywords", placeholder="", required=true, data-behavior='keywords')
              small.form-text.text-muted Example: Mental health, Habits, Success. Avoid using (&amp;), (&lt;), (&gt;), (&quot;), and (&apos;)
            div.form-group.row.no-gutters
              div.col-auto
                label(for='season', style='margin-bottom: 0;padding-top: 5px;') Season:
              div.col-auto.px-2
                -var selected = false;
                select.form-control(name='season')
                  each op in [...Array(10).keys()].map(x => ++x)
                    -if (season == op) {
                      -selected=true;
                    -} else {
                      -selected=false;
                    -}
                    option(value=op selected=selected) #{op}
              div.col-auto
                label(for='episode', style='margin-bottom: 0;padding-top: 5px;') Episode:
              div.col-auto.px-2
                -var selected = false;
                select.form-control(name='episode')
                  each op in [...Array(100).keys()].map(x => ++x)
                    -if (episode == op) {
                      -selected=true;
                    -} else {
                      -selected=false;
                    -}
                    option(value=op selected=selected) #{op}
            div.form-group.row.no-gutters
              div.col-auto
                label(for='pubDate', style='margin-bottom: 0;padding-top: 7px;') Releasing on:
              div.col-auto
                div.input-group.date(data-behavior='datetime-picker', data-target-input="nearest", id='datetimepicker')
                  input.form-control.pubdate(type="text", name="pubDate", data-target='#datetimepicker', data-toggle='datetimepicker', readonly=true)
              div.col-auto 
                label(style='margin-bottom: 0;padding-top: 7px;') California Time
            div.form-check
              div.row
                div.col-lg-6
                  input.form-check-input(type="checkbox", name="explicit")
                  label.form-check-label(for='explicit') Is it explicit?
                div.col-lg-6
                  input.form-check-input(type="checkbox", name="post", checked=true)
                  label.form-check-label(for='post') Make a post?
            div.form-group
              center
                input.btn.btn-md.btn-primary.mt-3(type="submit", value="Publish")
